@font-face {
  font-display: block;
  font-family: "headerfont";
  src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf") format("ttf");
}

@font-face {
  font-display: block;
  font-family: "imgfont";
  src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/ttf/file.ttf") format("ttf");
}

@font-face {
  font-display: block;
  font-family: "infofont";
  src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf") format("ttf");
}

@font-face {
  font-display: block;
  font-family: "hreffont";
  src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/ttf/file.ttf") format("ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #2b2b2b;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.container {
  width: 980px !important;
  margin: auto;
}

header {
  top: 0;
  bottom: 0;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: #1a1e1f;
  padding: 22px 0;
  opacity: 0.96;
  z-index: 999;
}

.href_class, .info a, .faq .faqdiv .title a {
  font-size: 20px;
  line-height: 1.6em;
  color: #0badef;
  font: normal normal normal 20px/1.4em "hreffont";
  display: block;
  cursor: pointer;
}

.href_class:hover, .info a:hover, .faq .faqdiv .title a:hover {
  color: #aaaaaa;
}

ul {
  list-style: none;
}

.nav {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav > .nav-header {
  display: inline;
}

.nav ul li {
  width: 113px;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: visible;
  visibility: inherit;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  vertical-align: baseline;
}

.nav ul li .active {
  color: #00a3e0 !important;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "headerfont";
  font-size: 14px;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > #nav-check {
  display: none;
}

.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links ul {
  overflow: visible;
  white-space: nowrap;
  width: calc(100% - (var(--menuTotalBordersX, 0px)));
  list-style: none;
  background: transparent;
  vertical-align: baseline;
}

.photocover {
  position: relative;
}

.photocover img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
}

.photocover .img_title {
  position: absolute;
  margin: 96px 0px 10px calc((100% - 980px) * 0.5);
  top: 0;
}

.photocover .img_title > div {
  padding: 0;
  margin: 0;
  color: white;
  left: 0px;
}

.photocover .img_title > div h3 {
  font-size: 42px;
  font-family: "imgfont";
  line-height: 1.6em;
}

.photocover .img_title > div p {
  font-family: "headerfont";
  font-size: 34px;
  font-weight: bold;
}

.info {
  top: 0;
  margin-top: 0;
  padding-top: 0px;
}

.info > div {
  padding: 56px 0;
}

.info h1 {
  font: normal normal normal 24px/1.6em "infofont";
}

.info h1 span {
  text-align: left;
  font-size: 28px;
  line-height: 1.6em;
  color: #f4f4f4;
}

.info a {
  margin-top: 43px;
}

.courses {
  background-color: #161616;
  top: 0;
  margin-top: 0;
  padding-top: 0px;
}

.courses h4 {
  font-size: 24px;
  color: #f4f4f4;
  padding: 34px 0px 67px calc((100% - 980px) * 0.5);
  font: normal normal normal 24px/1.6em "infofont";
}

.courses .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.courses .wrapper .course {
  border: 1px solid #555555;
  border-radius: 6px 6px 6px 6px;
  width: 300px;
  margin-bottom: 25px;
  position: relative;
}

.courses .wrapper .course > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courses .wrapper .course > div div img {
  width: 17px;
  height: 16px;
  position: absolute;
  bottom: 21px;
  left: 22px;
}

.courses .wrapper .course img {
  width: 100%;
}

.courses .wrapper .course h5 {
  color: #f4f4f4;
  font-size: 18px;
  font-family: "headerfont";
  margin: 35px 0 25px 0;
}

.courses .wrapper .course p {
  font-size: 14px;
  font-family: "headerfont";
  color: #f4f4f4;
}

.courses .wrapper .course div {
  padding: 0 22px;
  height: 230px;
}

.courses .wrapper .course a {
  color: #01a7e6;
  font-size: 16px;
  display: block;
  position: absolute;
  bottom: 21px;
  text-decoration: none;
  font-family: "headerfont";
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .nav li {
    width: 130px !important;
    display: block !important;
    padding: 20px;
    text-align: right !important;
  }
  .nav > .nav-links {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #333;
    height: 0px;
    height: 400px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 64px;
    right: 0px;
    width: 70%;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*********my slider****************/
.myslider {
  margin: 31px 0;
}

.myslider h4 {
  font-size: 24px;
  color: #f4f4f4;
  margin: 34px 0px 31px 0;
  font: normal normal normal 24px/1.6em "infofont";
  z-index: 999;
}

.myslider .slideroutdiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myslider .slideroutdiv .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
  right: 100px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (min-width: 768px) {
  .myslider .slideroutdiv .slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.myslider .slideroutdiv .slide.visible {
  opacity: 1;
  z-index: 2;
}

.myslider .slideroutdiv .slide-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myslider .slideroutdiv .slide-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.myslider .slideroutdiv .slide-caption {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
}

.myslider .slideroutdiv .slide-caption-content {
  margin: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: calc(14px + (19 - 14) * (100vw - 426px) / (768 - 426));
  background-color: inherit;
  padding: 0 0.5em;
}

@media (min-width: 768px) {
  .myslider .slideroutdiv .slide-caption-content {
    width: 90%;
    line-height: 1.5;
    font-size: 1.25rem;
  }
}

.myslider .slideroutdiv .slide-caption-content p {
  padding: 0 1em;
}

.myslider .slideroutdiv .title-bg {
  background-color: inherit;
  padding: 0 0.75em;
}

.myslider .slideroutdiv .title-bg h1 {
  font-family: "Racing Sans One", serif;
  font-size: calc(28px + (44 - 28) * (100vw - 426px) / (768 - 426));
  font-weight: 700;
  line-height: 1.2;
  padding: 5px 0;
}

@media (max-width: 425px) {
  .myslider .slideroutdiv .title-bg h1 {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .myslider .slideroutdiv .title-bg h1 {
    font-size: 2.8125rem;
  }
}

.myslider .slideroutdiv .carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 99999;
}

.myslider .slideroutdiv .carousel__navigation-list,
.myslider .slideroutdiv .carousel__navigation-item {
  display: inline-block;
}

.myslider .slideroutdiv .carousel__navigation-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #f4f4f4;
  background-clip: content-box;
  border: 0.35rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.myslider .slideroutdiv .sliderprev {
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999999999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-left: 100px;
}

.myslider .slideroutdiv .sliderprev img {
  cursor: pointer;
  width: 18px;
}

.myslider .slideroutdiv .sliderprev img:hover {
  background: transparent;
}

.myslider .slideroutdiv .slidernext {
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999999999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 100px;
}

.myslider .slideroutdiv .slidernext img {
  cursor: pointer;
  width: 18px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.myslider .slideroutdiv .slidernext img:hover {
  background: transparent;
}

.faq {
  background-color: #161616;
  top: 0;
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: 30px;
}

.faq .faqdiv {
  padding: 64px 40px;
}

.faq .faqdiv .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.faq .faqdiv .title h4 {
  font-size: 24px;
  color: #f4f4f4;
  font: normal normal normal 24px/1.6em "infofont";
}

.faq .faqdiv .questions {
  border-bottom: 1px solid #353131;
}

.faq .faqdiv .questions .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  cursor: pointer;
}

.faq .faqdiv .questions > div {
  font-family: "headerfont";
  font-size: 18px;
  color: #f4f4f4;
}

.faq .faqdiv .questions .img {
  font-size: 18px;
  color: #f4f4f4;
}

.faq .faqdiv .questions .answer {
  padding: 15px 0;
  font-family: "headerfont";
  font-size: 14px;
  display: none;
}

.faq .faqdiv .questions .answer > p {
  padding: 15px 0 0 0;
}

.faq .faqdiv .questions .answer p {
  line-height: 2;
}

.faq .faqdiv .questions .answer div {
  padding: 37px 0;
  margin-left: 1.5em !important;
}

.footer {
  bottom: 0;
  width: 100%;
  background: #1a1e1f;
  /* Set the fixed height of the footer here */
  height: 230px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_class {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer_class span {
  font-family: "headerfont";
  font-size: 14px;
  color: #f4f4f4;
  margin: 11px 0;
}

.footer .footer_class img {
  width: 106px;
  margin: 0 0 15px 0;
}

.footer .footer_icons {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_icons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer_icons > div img {
  width: 39px;
  height: 39px;
  margin-left: 5px;
}

.footer .footer_icons button {
  margin-bottom: 15px;
  color: #f4f4f4;
  font-family: "headerfont";
  font-size: 16px;
  padding: 7px 30px;
  background-color: #0badef;
  border: none;
  border-radius: 5px;
}

.footer .footer_icons button:hover {
  color: #353131;
  background: #f4f4f4;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90% !important;
  }
}

@media only screen and (max-width: 992px) {
  .photocover .img_title {
    margin: 20px 15px 50px 15px;
  }
}

@media only screen and (max-width: 961px) {
  .container {
    width: 90% !important;
  }
  .photocover .img_title {
    margin: 20px 15px 50px 15px;
  }
  .courses .wrapper {
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
  }
  .slide-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90% !important;
  }
  .courses .wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .sliderprev,
  .slidernext {
    display: none !important;
  }
  .slideroutdiv {
    margin-left: 0px;
    height: 350px;
  }
  .slide-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photocover .img_title {
    margin: 50px 15px 50px 15px;
  }
  .photocover img {
    height: 300px;
  }
  .info h1 span {
    font-size: 16px;
  }
  .courses .wrapper .course {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */