$container_width: 980px !important;
$main_color: #2b2b2b;
$dark_color: #161616;
$text_color: rgb(244, 244, 244);
$href_color: #0badef;

@font-face {
	font-display: block;
	font-family: "headerfont";
	src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2")
			format("woff2"),
		url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff")
			format("woff"),
		url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf")
			format("ttf");
}
@font-face {
	font-display: block;
	font-family: "imgfont";
	src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2")
			format("woff2"),
		url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff/file.woff")
			format("woff"),
		url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/ttf/file.ttf")
			format("ttf");
}

@font-face {
	font-display: block;
	font-family: "infofont";
	src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2")
			format("woff2"),
		url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff")
			format("woff"),
		url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf")
			format("ttf");
}

@font-face {
	font-display: block;
	font-family: "hreffont";
	src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2")
			format("woff2"),
		url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff/file.woff")
			format("woff"),
		url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/ttf/file.ttf")
			format("ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	min-height: 100%;
}
body {
	background-color: $main_color;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.container {
	width: $container_width;
	margin: auto;
}
header {
	top: 0;
	bottom: 0;
	left: 0;
	position: sticky;
	background-color: #1a1e1f;
	padding: 22px 0;
	opacity: 0.96;
	z-index: 999;
}

.href_class {
	font-size: 20px;
	line-height: 1.6em;
	color: $href_color;
	font: normal normal normal 20px/1.4em "hreffont";
	display: block;

	cursor: pointer;
	&:hover {
		color: rgb(170, 170, 170);
	}
}

ul {
	list-style: none;
}

.nav {
	width: 100%;

	position: relative;
	display: flex;
	justify-content: space-between;
	> .nav-header {
		display: inline;
	}
	ul li {
		width: 113px;
		text-align: center;
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		visibility: inherit;
		display: inline-block;
		background: transparent;
		cursor: pointer;

		vertical-align: baseline;
		.active {
			color: rgb(0, 163, 224) !important;
		}
	}

	ul li a {
		text-decoration: none;
		color: white;
		font-family: "headerfont";
		font-size: 14px;
	}
	> .nav-header > .nav-title {
		display: inline-block;
		font-size: 22px;
		color: #fff;
	}
	> .nav-btn {
		display: none;
	}
	> #nav-check {
		display: none;
	}
	.nav-links {
		display: flex;
		align-items: center;
	}
	.nav-links ul {
		overflow: visible;
		white-space: nowrap;
		width: calc(100% - (var(--menuTotalBordersX, 0px)));

		list-style: none;
		background: transparent;

		vertical-align: baseline;
	}
}

.photocover {
	position: relative;
	img {
		object-fit: cover;
		object-position: 50% 50%;
		width: 100%;
	}
	.img_title {
		position: absolute;
		margin: 96px 0px 10px calc((100% - 980px) * 0.5);
		top: 0;
		> div {
			padding: 0;
			margin: 0;
			color: white;
			left: 0px;

			h3 {
				font-size: 42px;
				font-family: "imgfont";
				line-height: 1.6em;
			}
			p {
				font-family: "headerfont";
				font-size: 34px;
				font-weight: bold;
			}
		}
	}
}
.info {
	top: 0;
	margin-top: 0;
	padding-top: 0px;
	> div {
		padding: 56px 0;
	}

	h1 {
		font: normal normal normal 24px/1.6em "infofont";
		span {
			text-align: left;
			font-size: 28px;
			line-height: 1.6em;
			color: #f4f4f4;

			// font-family: "imagefont", sans-serif;
		}
	}

	a {
		@extend .href_class;
		margin-top: 43px;
	}
}

.courses {
	background-color: $dark_color;
	top: 0;
	margin-top: 0;
	padding-top: 0px;
	h4 {
		font-size: 24px;
		color: $text_color;
		padding: 34px 0px 67px calc((100% - 980px) * 0.5);
		font: normal normal normal 24px/1.6em "infofont";
	}
	.wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		grid-auto-rows: minmax(100px, auto);
		.course {
			border: 1px solid #555555;
			border-radius: 6px 6px 6px 6px;
			width: 300px;
			margin-bottom: 25px;
			position: relative;
			> div {
				div {
					display: flex;
					img {
						width: 17px;
						height: 16px;
						position: absolute;
						bottom: 21px;
						left: 22px;
					}
				}
			}
			img {
				width: 100%;
			}
			// display: flex;
			// flex-direction: column;
			// justify-content: space-between;
			// height: 414px;
			h5 {
				color: #f4f4f4;
				font-size: 18px;
				font-family: "headerfont";
				margin: 35px 0 25px 0;
			}
			p {
				font-size: 14px;
				font-family: "headerfont";
				color: rgb(244, 244, 244);
			}
			div {
				padding: 0 22px;
				height: 230px;
			}
			a {
				// margin: 28% 0px 21px 22px;
				color: #01a7e6;
				font-size: 16px;
				display: block;
				position: absolute;
				bottom: 21px;
				text-decoration: none;

				font-family: "headerfont";
			}
		}
	}
}

@media (max-width: 600px) {
	.nav {
		> .nav-btn {
			display: inline-block;
			position: absolute;
			right: 0px;
			top: 0px;
		}
		> .nav-btn > label {
			display: inline-block;
			width: 50px;
			height: 50px;
			padding: 13px;

			&:hover {
				background-color: rgba(0, 0, 0, 0.3);
				//background-color: green;
			}
			> span {
				display: block;
				width: 25px;
				height: 10px;
				border-top: 2px solid #eee;
			}
		}
		> #nav-check:checked ~ .nav-btn > label {
			background-color: rgba(0, 0, 0, 0.3);
			//background: red;
		}
		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		li {
			width: 130px !important;
			display: block !important;
			padding: 20px;
			text-align: right !important;
		}

		> .nav-links {
			display: none;
			position: absolute;
			width: 100%;
			background-color: #333;
			height: 0px;

			height: 400px;

			transition: all 0.3s ease-in;
			overflow-y: hidden;
			top: 64px;
			right: 0px;
			width: 70%;
			//right: -10%;
			> a {
				display: block;
				width: 100%;
			}
		}

		> #nav-check:not(:checked) ~ .nav-links {
			height: 0px;
		}
		> #nav-check:checked ~ .nav-links {
			height: calc(100vh - 50px);
			overflow-y: auto;
		}
	}
}

* {
	box-sizing: border-box;
	scrollbar-color: transparent transparent; /* thumb and track color */
	scrollbar-width: 0px;
}

*::-webkit-scrollbar {
	width: 0;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

* {
	-ms-overflow-style: none;
}

ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*********my slider****************/

.myslider {
	margin: 31px 0;
	h4 {
		font-size: 24px;
		color: $text_color;
		margin: 34px 0px 31px 0;
		font: normal normal normal 24px/1.6em "infofont";
		z-index: 999;
	}

	.slideroutdiv {
		position: relative;
		display: flex;

		.slide {
			display: flex;

			flex-wrap: nowrap;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 100px;
			bottom: 0;
			right: 100px;
			opacity: 0;
			z-index: 1;
			transition: opacity 1s;

			@media (min-width: 768px) {
				flex-direction: row;
				flex-wrap: wrap;
			}

			&.visible {
				opacity: 1;
				z-index: 2;
			}
		}

		.slide-image {
			display: flex;
			// flex: 0 1 50%;
			width: 100%;

			align-items: center;

			img {
				// width: 100%;
				// height: 35vh;
				object-fit: cover;
				@media (min-width: 768px) {
					//height: 100vh;
				}
			}
		}

		.slide-caption {
			flex: 0 1 50%;
			display: flex;
			background-color: inherit;
		}

		.slide-caption-content {
			margin: auto;
			width: 100%;
			font-family: "Roboto", sans-serif;
			line-height: 1;
			font-size: calc(14px + (19 - 14) * (100vw - 426px) / (768 - 426));
			background-color: inherit;
			padding: 0 0.5em;

			@media (min-width: 768px) {
				width: 90%;
				line-height: 1.5;
				font-size: 1.25rem;
			}

			p {
				padding: 0 1em;
			}
		}

		.title-bg {
			background-color: inherit;
			padding: 0 0.75em;

			h1 {
				font-family: "Racing Sans One", serif;
				font-size: calc(28px + (44 - 28) * (100vw - 426px) / (768 - 426));
				font-weight: 700;
				line-height: 1.2;
				padding: 5px 0;

				@media (max-width: 425px) {
					margin: 0;
				}

				@media (min-width: 768px) {
					font-size: 2.8125rem;
				}
			}
		}

		.sliderprev {
			height: 224px;
			display: flex;
			z-index: 999999999;
			justify-content: center;
			cursor: pointer;
			margin-left: 100px;

			img {
				cursor: pointer;
				width: 18px;
				&:hover {
					background: transparent;
				}
			}
		}
		.slidernext {
			height: 224px;
			display: flex;
			z-index: 999999999;
			justify-content: center;
			cursor: pointer;
			margin-right: 100px;

			img {
				cursor: pointer;
				width: 18px;
				&:hover {
					background: transparent;
				}
				transform: scaleX(-1);
			}
		}
		// .slider::before {
		// 	background-image: url("../images/before.svg");
		// }

		// .slider::after {
		// 	transform: scaleX(-1);
		// 	margin-top: 70px;
		// 	// background-image: url("../images/before.svg");
		// }

		// .slider::before,
		// .slider::after {
		// 	content: "";
		// 	z-index: 1;
		// 	width: 18px;
		// 	// background-color: #333;
		// 	background-size: 1.5rem 35px;
		// 	background-repeat: no-repeat;
		// 	background-position: center center;
		// 	color: #fff;
		// 	font-size: 2.5rem;
		// 	line-height: 4rem;
		// 	text-align: center;
		// 	pointer-events: none;
		// }
	}
}
.faq {
	background-color: $dark_color;
	top: 0;
	margin-top: 0;
	padding-top: 0px;
	padding-bottom: 30px;
	.faqdiv {
		padding: 64px 40px;
		.title {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 20px;

			h4 {
				font-size: 24px;
				color: $text_color;

				font: normal normal normal 24px/1.6em "infofont";
			}
			a {
				@extend .href_class;
			}
		}

		.questions {
			.question {
				display: flex;
				justify-content: space-between;
				padding: 25px 0;
				cursor: pointer;
			}

			//
			border-bottom: 1px solid rgb(53, 49, 49);
			> div {
				font-family: "headerfont";
				font-size: 18px;
				color: $text_color;
			}
			.img {
				font-size: 18px;
				color: $text_color;
			}
			.answer {
				padding: 15px 0;
				font-family: "headerfont";
				font-size: 14px;
				display: none;
				> p {
					padding: 15px 0 0 0;
				}
				p {
					line-height: 2;
				}
				// p {
				// 	padding: 37px 0 37px 0;
				// }
				div {
					padding: 37px 0;
					margin-left: 1.5em !important;
				}
			}
		}
	}
}

.footer {
	bottom: 0;
	width: 100%;
	background: #1a1e1f;
	/* Set the fixed height of the footer here */
	height: 230px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	.footer_class {
		padding-top: 64px;
		display: flex;
		flex-direction: column;
		span {
			font-family: "headerfont";
			font-size: 14px;
			color: $text_color;
			margin: 11px 0;
		}
		img {
			width: 106px;
			margin: 0 0 15px 0;
		}
	}
	.footer_icons {
		padding-top: 64px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		> div {
			display: flex;
			justify-content: flex-end;
			img {
				width: 39px;
				height: 39px;
				margin-left: 5px;
			}
		}

		button {
			margin-bottom: 15px;
			color: $text_color;
			font-family: "headerfont";
			font-size: 16px;
			padding: 7px 30px;
			background-color: $href_color;
			border: none;
			border-radius: 5px;
			&:hover {
				color: rgb(53, 49, 49);
				background: $text_color;
			}
		}
	}
}
@media only screen and (max-width: 961px) {
	.container {
		width: 90% !important;
	}
}
@media only screen and (max-width: 600px) {
	.container {
		width: 90% !important;
	}
	.courses {
		.wrapper {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.sliderprev,
	.slidernext {
		display: none !important;
	}
	.slideroutdiv {
		margin-left: 0px;
		height: 350px;
	}
	.slide-image {
		flex-direction: column;
	}
	.photocover .img_title {
		margin: 50px 15px 50px 15px;
	}
	.photocover img {
		height: 300px;
	}
	.info h1 span {
		font-size: 16px;
	}
	.courses .wrapper .course {
		width: 100%;
	}
}
